﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="3.0.90.29 SP11"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Page10_SDM">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="768" />
  <Property Name="Index" Value="10" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="1024" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Menu]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Menu" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="768" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="1024" />
      <Property Name="Z-Order" Value="1" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="297359" Value="Messages" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="297359" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="297359" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="297359" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="297359" Value="7" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_23">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="8" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="14" />
          <Property Name="Height" Value="47" />
          <Property Name="HighlightingBorder" Value="Source[local].Border[Bump]" />
          <Property Name="Left" Value="829" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextDatapoint" Value="None" />
          <Property Name="TextSource" Value="SingleString" />
          <Property Name="Top" Value="659" />
          <Property Name="Width" Value="195" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_11">
          <Property Name="BackColor" Value="7" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Calibrate]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_10_B]" />
          <Property Name="ForeColor" Value="80" />
          <Property Name="Height" Value="37" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="958" />
          <Property Name="LockingLevel" Value="2" />
          <Property Name="PressedBackColor" Value="7" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedBorder" Value="Source[local].Border[Etched]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Button]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="664" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[btnScreenCalib]" />
          <Property Name="Width" Value="61" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_12">
          <Property Name="BackColor" Value="7" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Clean]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_10_B]" />
          <Property Name="ForeColor" Value="80" />
          <Property Name="Height" Value="37" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="895" />
          <Property Name="PressedBackColor" Value="7" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedBorder" Value="Source[local].Border[Etched]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Button]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="664" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[btnCleanScreen]" />
          <Property Name="Width" Value="61" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_14">
          <Property Name="BackColor" Value="7" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Button]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_10_B]" />
          <Property Name="ForeColor" Value="80" />
          <Property Name="Height" Value="37" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="834" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Security.Passcode]" />
          <Property Name="LockingLevel" Value="2" />
          <Property Name="PressedBackColor" Value="7" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedBorder" Value="Source[local].Border[Etched]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Button]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="664" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[PageRecipeSimBtn]" />
          <Property Name="Width" Value="61" />
        </Control>
        <Control ClassId="0x00001014" Name="HTMLView_1">
          <Property Name="AllowAutoRefresh" Value="No" />
          <Property Name="Border" Value="None" />
          <Property Name="ChangeURLDatapoint" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="CurrentTitleDatapoint" Value="None" />
          <Property Name="CurrentURLDatapoint" Value="None" />
          <Property Name="DefaultURLs" Value="Source[local].TextGroup[TXTGRP_URL]" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_10]" />
          <Property Name="HTMLStream" Value="None" />
          <Property Name="Height" Value="567" />
          <Property Name="Left" Value="10" />
          <Property Name="RenderEngine" Value="Automatic" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HTMLView]" />
          <Property Name="Top" Value="38" />
          <Property Name="Width" Value="1004" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_1">
          <Property Name="AlignmentHorizontal" Value="Left" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_11_B]" />
          <Property Name="Height" Value="29" />
          <Property Name="Left" Value="240" />
          <Property Name="SimulationValue" Value="Error" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="671" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.uMBS_rca.Message]" />
          <Property Name="Width" Value="587" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="BackColor" Value="15" />
          <Property Name="Border" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="255" />
          <Property Name="Height" Value="9" />
          <Property Name="Left" Value="717" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="689" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.uMBS_rca.GoodMsg]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="87" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Right" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="Height" Value="9" />
          <Property Name="Left" Value="703" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="7" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="677" />
          <Property Name="Width" Value="101" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="Border" Value="Source[local].Border[Sunken]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_11_B]" />
          <Property Name="Height" Value="29" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_CommStatus]" />
          <Property Name="TextIndexOffset" Value="2" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="671" />
          <Property Name="Width" Value="240" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[HTMLView_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[HTMLView_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[HTMLView_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[HTMLView_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[HTMLView_1]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[HTMLView_1]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[String_1]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
  </TabSequence>
</Page>