﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="3.0.90.29 SP11"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Page4_DateTime">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="768" />
  <Property Name="Index" Value="4" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="1024" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Menu]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Menu" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="768" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="1024" />
      <Property Name="Z-Order" Value="1" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="100270" Value="Change Date-Time Below" />
          <Text ID="100272" Value="MM" />
          <Text ID="100273" Value="DD" />
          <Text ID="100274" Value="YYYY" />
          <Text ID="100275" Value="HH" />
          <Text ID="100276" Value="MM" />
          <Text ID="100277" Value="SS" />
          <Text ID="100278" Value="Set Clock" />
          <Text ID="443269" Value="" />
          <Text ID="445821" Value="Date-Time" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="100270" Value="" />
          <Text ID="100272" Value="" />
          <Text ID="100273" Value="" />
          <Text ID="100274" Value="" />
          <Text ID="100275" Value="" />
          <Text ID="100276" Value="" />
          <Text ID="100277" Value="" />
          <Text ID="100278" Value="" />
          <Text ID="443269" Value="" />
          <Text ID="445821" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="100270" Value="" />
          <Text ID="100272" Value="" />
          <Text ID="100273" Value="" />
          <Text ID="100274" Value="" />
          <Text ID="100275" Value="" />
          <Text ID="100276" Value="" />
          <Text ID="100277" Value="" />
          <Text ID="100278" Value="" />
          <Text ID="443269" Value="" />
          <Text ID="445821" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="100270" Value="" />
          <Text ID="100272" Value="" />
          <Text ID="100273" Value="" />
          <Text ID="100274" Value="" />
          <Text ID="100275" Value="" />
          <Text ID="100276" Value="" />
          <Text ID="100277" Value="" />
          <Text ID="100278" Value="" />
          <Text ID="443269" Value="" />
          <Text ID="445821" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="100270" Value="1" />
          <Index ID="100272" Value="3" />
          <Index ID="100273" Value="4" />
          <Index ID="100274" Value="5" />
          <Index ID="100275" Value="6" />
          <Index ID="100276" Value="7" />
          <Index ID="100277" Value="8" />
          <Index ID="100278" Value="9" />
          <Index ID="443269" Value="0" />
          <Index ID="445821" Value="11" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="Border" Value="Source[local].Border[Frame_Footer_Gray]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="212" />
          <Property Name="Left" Value="256" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="204" />
          <Property Name="Width" Value="512" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_9_B_5]" />
          <Property Name="Height" Value="29" />
          <Property Name="Left" Value="396" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="1" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="294" />
          <Property Name="Width" Value="243" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="19" />
          <Property Name="Left" Value="316" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="12" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIntegerDigits" Value="2" />
          <Property Name="MinValue" Value="1" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Orange]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="344" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.SetRTC.month]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="53" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="Border" Value="Source[local].Border[FrameHeader]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[A_9_B_5]" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="314" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="3" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="323" />
          <Property Name="Width" Value="53" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="19" />
          <Property Name="Left" Value="379" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="31" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIntegerDigits" Value="2" />
          <Property Name="MinValue" Value="1" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Orange]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="344" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.SetRTC.day]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="53" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="Border" Value="Source[local].Border[FrameHeader]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[A_9_B]" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="378" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="4" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="323" />
          <Property Name="Width" Value="53" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="19" />
          <Property Name="Left" Value="442" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="2099" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIntegerDigits" Value="4" />
          <Property Name="MinValue" Value="2000" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Orange]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="344" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.SetRTC.year]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="72" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="Border" Value="Source[local].Border[FrameHeader]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[A_9_B]" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="442" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="5" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="323" />
          <Property Name="Width" Value="72" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="19" />
          <Property Name="Left" Value="542" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="23" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIntegerDigits" Value="2" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Orange]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="344" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.SetRTC.hour]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="53" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="Border" Value="Source[local].Border[FrameHeader]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[A_9_B]" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="542" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="6" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="323" />
          <Property Name="Width" Value="53" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="19" />
          <Property Name="Left" Value="604" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="60" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIntegerDigits" Value="2" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Orange]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="344" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.SetRTC.minute]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="53" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="Border" Value="Source[local].Border[FrameHeader]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[A_9_B]" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="604" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="7" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="323" />
          <Property Name="Width" Value="53" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="19" />
          <Property Name="Left" Value="666" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="60" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIntegerDigits" Value="2" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Orange]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="344" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.SetRTC.second]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="53" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="Border" Value="Source[local].Border[FrameHeader]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[A_9_B]" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="666" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="8" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="323" />
          <Property Name="Width" Value="53" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BackColor" Value="8" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="Border" Value="Source[local].Border[Button_large_orange_unpres]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[A_9_B]" />
          <Property Name="Height" Value="27" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="448" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Security.Passcode]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="PressedBackColor" Value="8" />
          <Property Name="PressedBitmapSource" Value="None" />
          <Property Name="PressedBorder" Value="Source[local].Border[Button_large_orange_pres]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Button]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndex" Value="9" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="376" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[SetClock]" />
          <Property Name="Width" Value="126" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BMPG_Buttons_Color]" />
          <Property Name="BitmapIndex" Value="6" />
          <Property Name="BitmapSource" Value="BitmapGroup" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="64" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="291" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="228" />
          <Property Name="Width" Value="87" />
        </Control>
        <Control ClassId="0x0000100A" Name="DateTime_2">
          <Property Name="AlignmentHorizontal" Value="Left" />
          <Property Name="Border" Value="Source[local].Border[Button_Trans_unpress]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_12_B_5]" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="393" />
          <Property Name="SimulationValue" Value="11-15-2012 04:30:03 PM" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DateTime]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[DateTimeFormats]" />
          <Property Name="TextIndex" Value="5" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="242" />
          <Property Name="ValueDatapoint" Value="None" />
          <Property Name="Width" Value="250" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="Border" Value="Source[local].Border[FrameHeaderBlue]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="26" />
          <Property Name="Left" Value="255" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeaderBlue]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="11" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="186" />
          <Property Name="Width" Value="514" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="SetClock">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pSetClock]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_6]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_3]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_4]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_4]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_4]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_5]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_6]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_4]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_6]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_4]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_6]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_4]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_6]" />
  </TabSequence>
</Page>