﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="3.0.90.29 SP11"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Page15_Comm">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="768" />
  <Property Name="Index" Value="16" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="1024" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Menu]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Menu" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="768" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="1024" />
      <Property Name="Z-Order" Value="1" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="460520" Value="" />
          <Text ID="460521" Value="Communications Diagnostics" />
          <Text ID="460523" Value="Messages" />
          <Text ID="460525" Value="RCA" />
          <Text ID="460529" Value="Modbus" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="460520" Value="" />
          <Text ID="460521" Value="" />
          <Text ID="460523" Value="" />
          <Text ID="460525" Value="" />
          <Text ID="460529" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="460520" Value="" />
          <Text ID="460521" Value="" />
          <Text ID="460523" Value="" />
          <Text ID="460525" Value="" />
          <Text ID="460529" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="460520" Value="" />
          <Text ID="460521" Value="" />
          <Text ID="460523" Value="" />
          <Text ID="460525" Value="" />
          <Text ID="460529" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="460520" Value="3" />
          <Index ID="460521" Value="4" />
          <Index ID="460523" Value="6" />
          <Index ID="460525" Value="8" />
          <Index ID="460529" Value="13" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="244" />
          <Property Name="Left" Value="138" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameFooterGray]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="3" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="197" />
          <Property Name="Width" Value="728" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="Border" Value="Source[local].Border[FrameHeaderBlue]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="26" />
          <Property Name="Left" Value="136" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeaderBlue]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="4" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="184" />
          <Property Name="Width" Value="731" />
        </Control>
        <Control ClassId="0x0000100A" Name="DateTime_2">
          <Property Name="Border" Value="Source[local].Border[Button_Trans_unpress]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_8_B_0]" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="684" />
          <Property Name="SimulationValue" Value="11-15-2012 04:30:03 PM" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DateTime]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[DateTimeFormats]" />
          <Property Name="TextIndex" Value="5" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="186" />
          <Property Name="ValueDatapoint" Value="None" />
          <Property Name="Width" Value="179" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_3">
          <Property Name="AlignmentHorizontal" Value="Left" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="0" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[A_8_B]" />
          <Property Name="ForeColor" Value="10" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="462" />
          <Property Name="SimulationValue" Value="Error" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="228" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.uMBS_rca.Message]" />
          <Property Name="Width" Value="396" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="Border" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_7_0]" />
          <Property Name="Height" Value="9" />
          <Property Name="Left" Value="753" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="237" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.uMBS_rca.GoodMsg]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="87" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="AlignmentHorizontal" Value="Right" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_6_0]" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="9" />
          <Property Name="Left" Value="738" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="6" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="228" />
          <Property Name="Width" Value="101" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="AlignmentHorizontal" Value="Left" />
          <Property Name="Border" Value="Source[local].Border[Sunken]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="19" />
          <Property Name="Left" Value="187" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text_output]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_CommStatus_0]" />
          <Property Name="TextIndexOffset" Value="3" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="228" />
          <Property Name="Width" Value="269" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_8_B]" />
          <Property Name="Height" Value="14" />
          <Property Name="Left" Value="153" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="8" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="230" />
          <Property Name="Width" Value="39" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_31">
          <Property Name="AlignmentHorizontal" Value="Right" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_8_B]" />
          <Property Name="Height" Value="22" />
          <Property Name="Left" Value="468" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="13" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="376" />
          <Property Name="Width" Value="77" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_26">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="551" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="1299" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="25" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output_Orange_Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="372" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.visuals.ModbusAddress]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="138" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_27">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="704" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="65535" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="25" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output_Orange_Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="372" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.visuals.ModbusRegister]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="138" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_26]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_27]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_27]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_27]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_27]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_27]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_26]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_26]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_26]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_26]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[String_3]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_26]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_27]" />
  </TabSequence>
</Page>