﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="3.0.90.29 SP11"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Page1_Control">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="768" />
  <Property Name="Index" Value="1" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="1024" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Counters]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Counters" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[VlvControlPopUp]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="VlvControlPopUp" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Menu]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Menu" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="2" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="768" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="1024" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="297054" Value="L401" />
          <Text ID="297055" Value="RD" />
          <Text ID="297056" Value="L401" />
          <Text ID="297057" Value="CE" />
          <Text ID="299690" Value="Mainline Pressure" />
          <Text ID="299691" Value="Meter Pressure and Gravity" />
          <Text ID="439956" Value="Mainline Gravity" />
          <Text ID="480002" Value="Hilliard Gravity" />
          <Text ID="480003" Value="Cosgray Road Gravity" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="297054" Value="" />
          <Text ID="297055" Value="" />
          <Text ID="297056" Value="" />
          <Text ID="297057" Value="" />
          <Text ID="299690" Value="" />
          <Text ID="299691" Value="" />
          <Text ID="439956" Value="" />
          <Text ID="480002" Value="" />
          <Text ID="480003" Value="" />
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="297054" Value="" />
          <Text ID="297055" Value="" />
          <Text ID="297056" Value="" />
          <Text ID="297057" Value="" />
          <Text ID="299690" Value="" />
          <Text ID="299691" Value="" />
          <Text ID="439956" Value="" />
          <Text ID="480002" Value="" />
          <Text ID="480003" Value="" />
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="297054" Value="" />
          <Text ID="297055" Value="" />
          <Text ID="297056" Value="" />
          <Text ID="297057" Value="" />
          <Text ID="299690" Value="" />
          <Text ID="299691" Value="" />
          <Text ID="439956" Value="" />
          <Text ID="480002" Value="" />
          <Text ID="480003" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="297054" Value="22" />
          <Index ID="297055" Value="25" />
          <Index ID="297056" Value="26" />
          <Index ID="297057" Value="27" />
          <Index ID="299690" Value="44" />
          <Index ID="299691" Value="45" />
          <Index ID="439956" Value="11" />
          <Index ID="480002" Value="10" />
          <Index ID="480003" Value="12" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_4">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Piping]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="5" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="495" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="417" />
          <Property Name="Width" Value="266" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="592" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="70" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="444" />
          <Property Name="UnitTextAlignment" Value="Left" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.TermPres.value_f]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="100" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="482" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="300" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="256" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.MLinePres.value_f]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="100" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_3">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Piping]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="5" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="41" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="285" />
          <Property Name="Width" Value="925" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_48">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Piping]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="137" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="494" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="285" />
          <Property Name="Width" Value="5" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="482" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="70" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="234" />
          <Property Name="UnitTextAlignment" Value="Left" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.MLGrav.value_f]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="100" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_39">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BMPG_Valves_Vertical]" />
          <Property Name="BitmapIndex" Value="0" />
          <Property Name="BitmapSource" Value="MultipleBitmaps" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="47" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.pValve[16].position]" />
          <Property Name="Left" Value="485" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="337" />
          <Property Name="Width" Value="25" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_21">
          <Property Name="AlignmentHorizontal" Value="Right" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="12" />
          <Property Name="Left" Value="370" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_Valves2]" />
          <Property Name="TextIndexOffset" Value="16" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="356" />
          <Property Name="Width" Value="100" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_24">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="12" />
          <Property Name="Left" Value="883" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_Valves2]" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="413" />
          <Property Name="Width" Value="135" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_35">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BMPG_Valves_Horizontal]" />
          <Property Name="BitmapIndex" Value="0" />
          <Property Name="BitmapSource" Value="MultipleBitmaps" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="26" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.pValve[17].position]" />
          <Property Name="Left" Value="612" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="275" />
          <Property Name="Width" Value="47" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_27">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="12" />
          <Property Name="Left" Value="578" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_Valves2]" />
          <Property Name="TextIndexOffset" Value="17" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="315" />
          <Property Name="Width" Value="117" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_6">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Piping]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="5" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="757" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="454" />
          <Property Name="Width" Value="124" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_7">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Piping]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="5" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="758" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="494" />
          <Property Name="Width" Value="124" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_8">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Piping]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="5" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="757" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="531" />
          <Property Name="Width" Value="124" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_9">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Piping]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="5" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="757" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="570" />
          <Property Name="Width" Value="124" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_50">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BMPG_Valves_Horizontal]" />
          <Property Name="BitmapIndex" Value="0" />
          <Property Name="BitmapSource" Value="MultipleBitmaps" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="26" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.pValve[1].position]" />
          <Property Name="Left" Value="800" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="444" />
          <Property Name="Width" Value="47" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_52">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BMPG_Valves_Horizontal]" />
          <Property Name="BitmapIndex" Value="0" />
          <Property Name="BitmapSource" Value="MultipleBitmaps" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="26" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.pValve[2].position]" />
          <Property Name="Left" Value="800" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="483" />
          <Property Name="Width" Value="47" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_53">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BMPG_Valves_Horizontal]" />
          <Property Name="BitmapIndex" Value="0" />
          <Property Name="BitmapSource" Value="MultipleBitmaps" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="26" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.pValve[3].position]" />
          <Property Name="Left" Value="800" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="522" />
          <Property Name="Width" Value="47" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_54">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BMPG_Valves_Horizontal]" />
          <Property Name="BitmapIndex" Value="0" />
          <Property Name="BitmapSource" Value="MultipleBitmaps" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="26" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.pValve[4].position]" />
          <Property Name="Left" Value="800" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="561" />
          <Property Name="Width" Value="47" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_5">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Piping]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="5" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="757" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="417" />
          <Property Name="Width" Value="124" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_59">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BMPG_Valves_Horizontal]" />
          <Property Name="BitmapIndex" Value="0" />
          <Property Name="BitmapSource" Value="MultipleBitmaps" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="26" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.pValve[0].position]" />
          <Property Name="Left" Value="800" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="406" />
          <Property Name="Width" Value="47" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_25">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="12" />
          <Property Name="Left" Value="883" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_Valves2]" />
          <Property Name="TextIndexOffset" Value="1" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="452" />
          <Property Name="Width" Value="135" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_33">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="12" />
          <Property Name="Left" Value="883" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_Valves2]" />
          <Property Name="TextIndexOffset" Value="2" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="492" />
          <Property Name="Width" Value="135" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_34">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="12" />
          <Property Name="Left" Value="883" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_Valves2]" />
          <Property Name="TextIndexOffset" Value="3" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="530" />
          <Property Name="Width" Value="135" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_35">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="12" />
          <Property Name="Left" Value="883" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_Valves2]" />
          <Property Name="TextIndexOffset" Value="4" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="568" />
          <Property Name="Width" Value="135" />
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_22">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="790" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]" />
          <Property Name="Top" Value="516" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[hsSVAselect3]" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_11">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="790" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]" />
          <Property Name="Top" Value="399" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[hsSVAselect0]" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_12">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="790" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]" />
          <Property Name="Top" Value="438" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[hsSVAselect1]" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_13">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="790" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]" />
          <Property Name="Top" Value="477" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[hsSVAselect2]" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_23">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="790" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]" />
          <Property Name="Top" Value="556" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[hsSVAselect4]" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_19">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="60" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="478" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]" />
          <Property Name="Top" Value="330" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[hsNSVselect0]" />
          <Property Name="Width" Value="40" />
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_14">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="603" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]" />
          <Property Name="Top" Value="268" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[hsNSVselect1]" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="7" />
          <Property Name="Border" Value="Source[local].Border[Bevel]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_9_B]" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="4" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="22" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="268" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="7" />
          <Property Name="Border" Value="Source[local].Border[Bevel]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_9_B]" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="4" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="25" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="287" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="7" />
          <Property Name="Border" Value="Source[local].Border[Bevel]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_9_B]" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="961" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="26" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="268" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="7" />
          <Property Name="Border" Value="Source[local].Border[Bevel]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_9_B]" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="961" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="27" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="287" />
          <Property Name="Width" Value="60" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BackColor" Value="224" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Meter]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Border_3_Released]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="37" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="615" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedBorder" Value="Source[local].Border[Border_3_Pressed]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Button]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="399" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[CounterBoxPopUp]" />
          <Property Name="Width" Value="46" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_26">
          <Property Name="AlignmentHorizontal" Value="Right" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="374" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="44" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="255" />
          <Property Name="Width" Value="97" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_28">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="29" />
          <Property Name="Left" Value="589" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="45" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="488" />
          <Property Name="Width" Value="103" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="592" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="70" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="467" />
          <Property Name="UnitTextAlignment" Value="Left" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.MtrGrav.value_f]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="100" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_29">
          <Property Name="AlignmentHorizontal" Value="Right" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="374" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="11" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="233" />
          <Property Name="Width" Value="97" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_10">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Piping]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="5" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="759" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="612" />
          <Property Name="Width" Value="124" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_49">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="15" />
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="Source[local].Border[Piping]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="200" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="757" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="417" />
          <Property Name="Width" Value="5" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_55">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BMPG_Valves_Horizontal]" />
          <Property Name="BitmapIndex" Value="0" />
          <Property Name="BitmapSource" Value="MultipleBitmaps" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="26" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.pValve[5].position]" />
          <Property Name="Left" Value="801" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="602" />
          <Property Name="Width" Value="47" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_36">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="12" />
          <Property Name="Left" Value="884" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_Valves2]" />
          <Property Name="TextIndexOffset" Value="5" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="609" />
          <Property Name="Width" Value="135" />
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_15">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="791" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]" />
          <Property Name="Top" Value="595" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[hsSVAselect5]" />
          <Property Name="Width" Value="70" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="173" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="300" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="255" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HilliardGrav.value_f]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="100" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="20" />
          <Property Name="Left" Value="173" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="70" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="233" />
          <Property Name="UnitTextAlignment" Value="Left" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.CosgrayGrav.value_f]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="100" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_30">
          <Property Name="AlignmentHorizontal" Value="Right" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="65" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="10" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="253" />
          <Property Name="Width" Value="97" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_31">
          <Property Name="AlignmentHorizontal" Value="Right" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Font" Value="Source[local].Font[BVS_7]" />
          <Property Name="ForeColor" Value="7" />
          <Property Name="Height" Value="24" />
          <Property Name="Left" Value="65" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="12" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="232" />
          <Property Name="Width" Value="97" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BackColor" Value="11" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[BVS_9_B]" />
          <Property Name="ForeColor" Value="15" />
          <Property Name="Height" Value="33" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="298" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Security.Passcode]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="PressedBackColor" Value="11" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedForeColor" Value="15" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.vPigReset]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Button]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[TXTGRP_Misc2]" />
          <Property Name="TextIndex" Value="6" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="239" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[btnResetPig]" />
          <Property Name="Width" Value="65" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="hsSVAselect0">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="0" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect1">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect2">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="2" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect3">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="3" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect4">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="4" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect5">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="5" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect6">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="6" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect7">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="7" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="btnValveOpen">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveNewCmd]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveOpenCmd]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="btnValveClose">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveNewCmd]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveCloseCmd]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="btnPIDControl">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pControlValveVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="ResetValue" Value="1" />
              <Property Name="SetValue" Value="0" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.vPID]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="btnMeterShift">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.MeterA.eob_oip]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="btnResetMeter">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.MeterA.reset_oip]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="btnCrashReset">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Terminal.crash_reset]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect8">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="8" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsProver">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pProverControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="ResetValue" Value="0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pProverControlVis]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="btnResetPig">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="ResetValue" Value="0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Pig_Reset]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect9">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="9" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="VsSelectV1">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="12" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect10">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="10" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="VsSelectV2">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="13" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="VsSelectV3">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="14" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="VsSelectV0">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="10" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="VsSelectV4">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="15" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="GravPopUp">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pGravitometerPopUpVisCompl]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="V1PopUp">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="12" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="V2PopUp">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="13" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="V3PopUp">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="14" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="V4PopUp">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="15" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="CounterBoxPopUp">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pCounterBoxPopUpVisCompl]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect11">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="11" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsNSVselect0">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="16" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsNSVselect1">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="17" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsNSVselect2">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.pValveControlVisCompl]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="18" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect12">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="12" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect13">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="13" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect14">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="14" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsSVAselect15">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="15" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsNSVselect3">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="19" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsNSVselect4">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="20" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="hsNSVselect5">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="21" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.pValveSelect]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Counters].Control[Numeric_8]">
      <Property Name="Down" Value="Source[local].Layer[Counters].Control[Numeric_8]" />
      <Property Name="Left" Value="Source[local].Layer[Counters].Control[Numeric_8]" />
      <Property Name="Right" Value="Source[local].Layer[Counters].Control[Numeric_8]" />
      <Property Name="Up" Value="Source[local].Layer[Counters].Control[Numeric_8]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Numeric_10]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_6]" />
    <TabSeqItem Index="4" Value="Source[local].Layer[VlvControlPopUp].Control[Numeric_1]" />
    <TabSeqItem Index="5" Value="Source[local].Layer[Counters].Control[Numeric_4]" />
    <TabSeqItem Index="6" Value="Source[local].Layer[Counters].Control[Numeric_6]" />
    <TabSeqItem Index="7" Value="Source[local].Layer[Counters].Control[Numeric_8]" />
    <TabSeqItem Index="8" Value="Source[local].Layer[Counters].Control[Numeric_5]" />
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[Numeric_7]" />
    <TabSeqItem Index="10" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
  </TabSequence>
</Page>