<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.3.3.196"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Page2_Alarms">
  <Property Name="BackColor" Value="0"/>
  <Property Name="Description" Value=""/>
  <Property Name="EditBackColor" Value="0"/>
  <Property Name="EditForeColor" Value="28"/>
  <Property Name="ForeColor" Value="15"/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="2"/>
  <Property Name="LockedBackColor" Value="7"/>
  <Property Name="LockedForeColor" Value="15"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Menu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Menu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[AlarmHeader]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="AlarmHeader"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="zh"/>
        <TextLayer LanguageId="fr"/>
        <TextLayer LanguageId="es-HN"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001009" Name="Alarm_1">
          <Property Name="AcknowledgeState_Alignment" Value="Left"/>
          <Property Name="AcknowledgeState_BitmapGroup" Value="Source[local].BitmapGroup[AcknowledgeState]"/>
          <Property Name="AcknowledgeState_BitmapIndex" Value="0"/>
          <Property Name="AcknowledgeState_Format" Value="Bitmap+Text"/>
          <Property Name="AcknowledgeState_Position" Value="Column 3"/>
          <Property Name="AcknowledgeState_SeparatorTextGroup" Value="None"/>
          <Property Name="AcknowledgeState_TextBaseIndex" Value="0"/>
          <Property Name="AcknowledgeState_TextGroup" Value="Source[local].TextGroup[AcknowledgeState_short]"/>
          <Property Name="AcknowledgeState_Width" Value="47"/>
          <Property Name="AlarmNumber_Position" Value="None"/>
          <Property Name="AlarmState_Position" Value="None"/>
          <Property Name="AlarmText_Alignment" Value="Left"/>
          <Property Name="AlarmText_Position" Value="Column 2"/>
          <Property Name="AlarmText_SeparatorTextBaseIndex" Value="2"/>
          <Property Name="AlarmText_SeparatorTextGroup" Value="Source[local].TextGroup[TXTGRP_Control_AlarmSeparator]"/>
          <Property Name="AlarmText_Width" Value="650"/>
          <Property Name="BackColor" Value="0"/>
          <Property Name="BypassState_Position" Value="None"/>
          <Property Name="ColumnCount" Value="4"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Cursor_Border" Value="Source[local].Border[Flat_grey]"/>
          <Property Name="Cursor_LeftBitmap" Value="None"/>
          <Property Name="Cursor_LeftTextGroup" Value="Source[local].TextGroup[TXTGRP_Control_AlarmCursor]"/>
          <Property Name="Cursor_LeftTextIndex" Value="2"/>
          <Property Name="Cursor_RightBitmap" Value="None"/>
          <Property Name="Cursor_RightTextGroup" Value="None"/>
          <Property Name="DateTime_Alignment" Value="Right"/>
          <Property Name="DateTime_FormatStringBaseIndex" Value="0"/>
          <Property Name="DateTime_FormatStringTextGroup" Value="Source[local].TextGroup[TXTGRP_Control_DateTime]"/>
          <Property Name="DateTime_Position" Value="Column 1"/>
          <Property Name="DateTime_SeparatorTextGroup" Value="None"/>
          <Property Name="DateTime_Width" Value="140"/>
          <Property Name="Description" Value=""/>
          <Property Name="Event_Alignment" Value="Left"/>
          <Property Name="Event_BitmapGroup" Value="Source[local].BitmapGroup[AlarmEvent]"/>
          <Property Name="Event_BitmapIndex" Value="0"/>
          <Property Name="Event_Format" Value="Bitmap+Text"/>
          <Property Name="Event_Position" Value="Column 4"/>
          <Property Name="Event_SeparatorTextGroup" Value="None"/>
          <Property Name="Event_TextBaseIndex" Value="0"/>
          <Property Name="Event_TextGroup" Value="Source[local].TextGroup[AlarmEvent_short]"/>
          <Property Name="Event_Width" Value="35"/>
          <Property Name="Font" Value="Source[local].Font[BVS_9_B]"/>
          <Property Name="ForeColor" Value="40"/>
          <Property Name="GroupNumber_Position" Value="None"/>
          <Property Name="Height" Value="667"/>
          <Property Name="InputBypass" Value="Disable"/>
          <Property Name="InputCancel" Value="Enter"/>
          <Property Name="Left" Value="0"/>
          <Property Name="Node1" Value="User order"/>
          <Property Name="Priority_Position" Value="None"/>
          <Property Name="SortColumn" Value="Time"/>
          <Property Name="SortOrder" Value="Descending"/>
          <Property Name="Source" Value="Current"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="47"/>
          <Property Name="Width" Value="919"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Frame_Footer_Gray]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="276"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="960"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[embedded].Property[Border]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="223"/>
          <Property Name="VirtualKey" Value="None"/>
          <Property Name="Width" Value="43"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="BackColor" Value="210"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Left of Text"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Scroll_check_all_unpres]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="32"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Confirmed"/>
          <Property Name="Left" Value="965"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBackColor" Value="200"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Scroll_check_all_pres]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="451"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AcknwldgeAll]"/>
          <Property Name="Width" Value="33"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="BackColor" Value="210"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Left of Text"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Scroll_check_unpres]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="32"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Confirmed"/>
          <Property Name="Left" Value="965"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="None"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBackColor" Value="200"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Scroll_check_pres]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="411"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Acknwldge1]"/>
          <Property Name="Width" Value="33"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="BackColor" Value="210"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Left of Text"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Scroll_dn_unpres]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="32"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Confirmed"/>
          <Property Name="Left" Value="964"/>
          <Property Name="PressedBackColor" Value="200"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Scroll_dn_pres]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="312"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[LineDn]"/>
          <Property Name="Width" Value="33"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BackColor" Value="210"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Left of Text"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Scroll_up_unpres]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="32"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Confirmed"/>
          <Property Name="Left" Value="964"/>
          <Property Name="PressedBackColor" Value="200"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Scroll_up_pres]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="272"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[LineUp]"/>
          <Property Name="Width" Value="33"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="BackColor" Value="210"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Scroll_up_up_unpres]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[DefaultFont]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="32"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Confirmed"/>
          <Property Name="Left" Value="964"/>
          <Property Name="PressedBackColor" Value="200"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Scroll_up_up_pres]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="SpacingHorizontal" Value="0"/>
          <Property Name="SpacingVertical" Value="5178"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="232"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[PageUp]"/>
          <Property Name="Width" Value="33"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BackColor" Value="210"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Left of Text"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Scroll_dn_dn_unpres]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="32"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Confirmed"/>
          <Property Name="Left" Value="964"/>
          <Property Name="PressedBackColor" Value="200"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Scroll_dn_dn_pres]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="352"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[PageDn]"/>
          <Property Name="Width" Value="33"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="PageUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Page Up"/>
              <Property Name="Control" Value="Source[local].Page[Page2_Alarms].Layer[Default].Control[Alarm_1]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="PageDn">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Page Down"/>
              <Property Name="Control" Value="Source[local].Page[Page2_Alarms].Layer[Default].Control[Alarm_1]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="LineDn">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Line Down"/>
              <Property Name="Control" Value="Source[local].Page[Page2_Alarms].Layer[Default].Control[Alarm_1]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="LineUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Line Up"/>
              <Property Name="Control" Value="Source[local].Page[Page2_Alarms].Layer[Default].Control[Alarm_1]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="Acknwldge1">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Acknowledge"/>
              <Property Name="Control" Value="Source[local].Page[Page2_Alarms].Layer[Default].Control[Alarm_1]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AcknwldgeAll">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016D">
              <Property Name="Action" Value="Acknowledge"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Alarm_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Alarm_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Alarm_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Alarm_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Alarm_1]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Alarm_1]"/>
  </TabSequence>
</Page>